body,ul{
    margin: 0;
}


#grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 4rem 2.5rem 1fr;
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
}
#gridsida2 {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 33% 33% 1fr;
    grid-template-areas: 
    'art21 art22 art23'
    'art21 art22 art24'
    'art21 art22 art25'
    'art21 art22 art26'
}
.art21{
    grid-area: art21;
    background-color: lightblue;

}
.art22{
    grid-area: art22;
    background-color: lightgrey;
}
.art23{
    grid-area: art23;
    background-color: lightpink;
}
.art24{
    grid-area: art24;
    background-color: lightgoldenrodyellow;
}
.art25{
    grid-area: art25;
    background-color: aquamarine;
}
.art26{
    grid-area: art26;
    background-color: cornflowerblue;
    
}

.menu{
    height: 100vh;
    width: 80vw;
    background:white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
main {
    grid-area: mn;
    background-color: blue;
}
header {
    grid-area: hd;
    background-color: brown;
    font-size: xx-large;
}
.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

body {
    background-color: rgb(255, 255, 255);

}
@media screen and (max-width:500px) {
    body {
        background-color: rgb(255, 255, 255); 
        color: black;
    }
}