body {
    margin: 0;
}
img {
    height: 100%;
    width: 100%;
}
h1 {
    padding-left: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
p{
    padding-left: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2rem;
    color: black;
}
a {
    padding-left: 1rem;
}
li {
    line-height: 2rem;
}
ul {
    line-height: 1.5rem;
}
h2 {
    padding-left: 3rem;
}
h3 {
    padding-left: 1rem;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
h4{
    text-align: center;
    font-size: 2.5rem ;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5 {
    text-align: center;
    font-size: 1rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 4rem 2.5rem 1fr;
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
}
#gridsida1 {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: 
    'art14 art1 art12'
    'art15 art105 art13'
    'ft1 ft1 ft1';
    background-color: rgb(254, 251, 231);
}
.art1 {
    grid-area: art1;
    margin: 0.5rem;
    background-color: rgb(218, 229, 208);
}
.art105 {
    grid-area: art105;
    margin: 0.5rem;
    background-color: rgb(218, 229, 208);
}
.art12 {
    grid-area: art12;
    background-color: rgb(249, 235, 200);
    margin: 0.5rem;
}
.art13 {
    grid-area: art13;
    background-color: rgb(249, 235, 200);
    margin: 0.5rem;
}
.art14 {
    grid-area: art14;
    background-color: rgb(249, 235, 200);
    margin: 0.5rem;
}
.art15 {
    grid-area: art15;
    background-color: rgb(249, 235, 200);
    margin: 0.5rem;
}
.fot1 {
    grid-area: ft1;
    background-color: rgb(218, 229, 208);
    margin: 0.5rem;
}
#gridsida2 {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 35% 35% 8% 22%;
    grid-template-areas: 
    'art21 art22 art23 art23b'
    'art21 art22 art24 art24b'
    'art21 art22 art25 art25b'
    'art21 art22 art26 art26b'
}
#gridsida3 {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
    'art31 art32 art33 art34 art35'
    'art31b art32b art33b art34b art35b';
    background-color: rgb(254, 251, 231);
}
.art21{
    grid-area: art21;
    background-color: rgb(254, 251, 231);
    margin: 1rem;

}
.art22{
    grid-area: art22;
    background-color: rgb(254, 251, 231);
    margin: 1rem;
}
.art23{
    grid-area: art23;
    background-color: lightpink;
    margin: 0.5rem;
}
.art23b{
    grid-area: art23b;
    background-color: rgb(218, 229, 208);
    margin: 0.5rem;
}
.art24{
    grid-area: art24;
    background-color: lightgoldenrodyellow;
    margin: 0.5rem;
}
.art24b{
    grid-area: art24b;
    background-color: rgb(218, 229, 208);
    margin: 0.5rem;
}
.art25{
    grid-area: art25;
    background-color: aquamarine;
    margin: 0.5rem;
}
.art25b{
    grid-area: art25b;
    background-color: rgb(218, 229, 208);
    margin: 0.5rem;
}
.art26{
    grid-area: art26;
    background-color: cornflowerblue;
    margin: 0.5rem;
    
}
.art26b{
    grid-area: art26b;
    background-color: rgb(218, 229, 208);
    margin: 0.5rem;
}
.art31{
    grid-area: art31;
    margin: 1rem;
}
.art31b{
    grid-area: art31b;
    background-color: rgb(249, 235, 200);
    margin: 1rem;
}
.art32{
    grid-area: art32;
    margin: 1rem;
}
.art32b{
    grid-area: art32b;
    background-color: rgb(249, 235, 200);
    margin: 1rem;
}
.art33{
    grid-area: art33;
    margin: 1rem;
}
.art33b{
    grid-area: art33b;
    background-color: rgb(249, 235, 200);
    margin: 1rem;

}
.art34{
    grid-area: art34;
    margin: 1rem;
}
.art34b{
    grid-area: art34b;
    background-color: rgb(249, 235, 200);
    margin: 1rem;
}
.art35{
    grid-area: art35;
    margin: 1rem;
}
.art35b{
    grid-area: art35b;
    background-color: rgb(249, 235, 200);
    margin: 1rem;
}

.menu{
    height: 100vh;
    width: 80vw;
    background:rgb(254, 251, 231);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
main {
    grid-area: mn;
    background-color: rgb(249, 235, 200);
}
header {
    grid-area: hd;
    background-color: rgb(160, 188, 194);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

body {
    background-color: rgb(254, 251, 231);

}
@media screen and (max-width:500px) {
    body {
        background-color: rgb(148, 180, 159); 
        color: black;
    }
    #gridsida1 {
        display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 100%;
    grid-template-areas: 
    'art1 '
    'art105'
    'art12'
    'art13'
    'art14'
    'art15'
    'ft1';
    background-color: rgb(254, 251, 231);

    }

    #gridsida2 {
        display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
    'art21'
    'art22'
    'art23'
    'art23b'
    'art24'
    'art24b'
    'art25'
    'art25b'
    'art26'
    'art26b';
    background-color: rgb(254, 251, 231);
    }

    #gridsida3 {
        display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
    'art31'
    'art31b'
    'art32'
    'art32b'
    'art33'
    'art33b'
    'art34'
    'art34b'
    'art35'
    'art35b';
    background-color: rgb(254, 251, 231);
    }
    .art41 {
        display: block;
    }
    .art42 {
        display: block;
    }
    .art43 {
        display: block;
    }
    #mån, #kalender{
        display: none;
    }
    #gridsida4 {
            display: grid;
            width: 100vw;
            grid-template-rows: 1fr 1fr 1fr ;
            grid-template-columns: 100%;
            grid-template-areas:
            'art41'
            'art42'
            'art43';
    }
}

#gridsida4 {
    display: grid;
    width: 100vw;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'md md md'
    'ka ka ka';
}
.art41 {
    display: none;
}
.art42 {
    display: none;
}
.art43 {
    display: none;
}
#mån {
    grid-area: md;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1rem;
    display: block;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#kalender {
    grid-area: ka;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col {
    height: 3rem;
    vertical-align: text-top;
}
.col, .rad {
    padding-top: 1rem;
}
#mobilkalender {
    grid-area: mk;
    font-size: 1rem;
    display: none;
}
.mobcol {
    height: 2rem;
    width: 6rem;
    vertical-align: middle;
}
.mobcol:nth-child(3) {
    width: 50%;
}
.rad:nth-child(even), .mobrad:nth-child(even) {
    background-color: rgb(254, 251, 231);
    /* Välj egen färg här */
}
.rad:nth-child(odd), .mobrad:nth-child(odd) {
    background-color: rgb(218, 229, 208);
    /* Välj egen färg här */
}
.col, .mobcol {
    text-align: center;
}
.col:first-child, .rad:first-child, .mobcol:first-child, .mobrad:first-child {
    font-weight: bold;
}
.art41 {
    grid-area: art41;
    margin: 1rem;
    background-color: rgb(254, 251, 231);
}
.art42 {
    grid-area: art42;
    margin: 1rem;
    background-color: rgb(254, 251, 231);
}
.art43 {
    grid-area: art43;
    margin: 1rem;
    background-color: rgb(254, 251, 231);
}